In [18]:
import os
import json
import kagglehub
import pandas as pd

In [19]:
# Download latest-version
path = kagglehub.dataset_download("promptcloud/careerbuilder-job-listing-2020")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\edan\.cache\kagglehub\datasets\promptcloud\careerbuilder-job-listing-2020\versions\1

In [20]:
file = os.listdir(path)
print(file)
file_path = os.path.join(path ,file[0])

['marketing_sample_for_careerbuilder_usa-careerbuilder_job_listing__20200401_20200630__30k_data.ldjson']

In [21]:
load_rows = []
with open(file_path, 'r', encoding='utf-8') as f:
    for i, line in enumerate(f):
        try:
            load_rows.append(json.loads(line))
        except Exception as e:
            print(f"Error on line {i+1}: {e}")

# Read in to dataframe
df = pd.DataFrame(load_rows)
df.head()

Error on line 6614: Extra data: line 1 column 7004 (char 7003)

,uniq_id,crawl_timestamp,url,job_title,company_name,city,state,country,post_date,job_description,...,inferred_state,inferred_country,fitness_score,inferred_salary_from,inferred_salary_to,inferred_salary_currency,is_consumed_job,job_requirements,contact_email,test_contact_email
0,9a457ef257fecf231693a6ba08f50293,2020-06-26 01:54:03 +0000,https://www.careerbuilder.com/job/J3W0PF650Z8Q...,Asphalt/Concrete Senior Project Manager,GPAC,Houston,TX,US,2020-06-25,SR. PROJECT MANAGER WANTED!!! My client is a M...,...,Texas,United states,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ba471e2faf6f79caf22cddebbedbc0e8,2020-05-17 01:21:05 +0000,https://www.careerbuilder.com/job/J3P0FL6X795R...,Amazon Warehouse Team - Full Time,Amazon Fulfillment,Cincinnati,OH,US,2020-05-16,"Shifts: Overnight, Early Morning, Day, Evening...",...,Ohio,United states,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6f00bd02d63c633b5af453366f25c21e,2020-06-27 04:53:42 +0000,https://www.careerbuilder.com/job/J3W3XK69NHHR...,Amazon Warehouse Associate - Morning Shifts Av...,Amazon Fulfillment,Peabody,MA,US,2020-06-26,"Shifts: Early Morning, Day, Evening Location: ...",...,Massachusetts,United states,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8ad0d00bfa23cfd7b7c364b8ae72085f,2020-06-03 01:21:32 +0000,https://www.careerbuilder.com/job/J3Q5RL6VS7PG...,Assembly Electrical,Manpower,Villard,MN,US,2020-06-02,Do you pride yourself on attention to detail a...,...,Minnesota,United states,10,14.00,14.00,$,NaN,NaN,NaN,NaN
4,31753dc342a1b2a07db712454c0d5f87,2020-05-23 01:19:07 +0000,https://www.careerbuilder.com/job/J3V1TJ68DPJ7...,Graphics Designer,The North West Company - U.S.,Anchorage,AK,US,2020-05-22,In your role as Graphics Designer for Alaska C...,...,Alaska,United states,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df.shape

(29982, 40)